.element__like {
    background-image: url('../../../images/VectorСердце.svg');
    width: 22px;
    height: 19px;
    border: none;
    margin: 31px 30px 30px 0;
    background-color: #fff;
    background-size: contain;
    background-repeat: no-repeat;
    grid-area: like;
    justify-self: end;
  }

  @media screen and (max-width: 980px) {
    .element__like {
      margin: 30px 20px 30px;
      align-self: center;
    }
  }
  
  .element__like:active {
    opacity: 0.5;
    background-image: url('../../../images/Union.svg');
  }

  .element__like:hover {
    opacity: .5;
    cursor: pointer;
  }