.page {
    padding: 0;
    margin: 0 auto;
    max-width: 1280px;
    height: 100%;
    position: relative;
    background-color: #000000;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
  }

  .header {
    position: relative;
    max-width: 880px;
    min-height: 74px;
    padding: 45px 200px 40px 200px;
    margin: 0 auto;
    border-bottom: 1px solid #545454;
  }

  .header__logo {
    background-image: url('../mesto/images/Headerlogo.svg');
    max-width: 142px;
    min-height: 33px;
    background-size: cover;
    transition: 0.7s ease;
  }

  .content {
    max-width: 880px;
    padding: 0;
    margin: 0 auto;
  }

  .profile {
    width: 100%;
    padding: 40px 0 51px;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: start;
  }

  .profile__avatar {
    max-width: 120px;
    min-height: 120px;
    width: 100%;
    border-radius: 50%;
    margin: 0 30px 0 0;
    object-fit: contain;
    transition: 0.7s ease;
  }

  .profile__info {
    display: grid;
    grid-template-areas:
    "name buttonEdit"
    "discr .";
    grid-template-columns: 1fr min-content;
    column-gap: 16px;
    align-items: baseline;
  }

  .profile__name {
    padding: 0;
    margin: 0;
    max-width: 294px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-style: normal;
    font-weight: 500;
    font-size: 42px;
    line-height: 48px;
    grid-area: name;
    transition: 0.7s ease;
    color: #FFFFFF;
  }

  .profile__discription {
    padding: 0;
    margin: 16px 0 0 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 336px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    width: 100%;
    line-height: 22px;
    grid-area: discr;
    transition: 0.7s ease;
    color: #FFFFFF;
  }

  .profile__button {
    background-color: #000;
    background-repeat: no-repeat;
    background-position: center;
  }

  .profile__button_act_edit {
    width: 24px;
    height: 24px;
    background-image: url('../mesto/images/VectorРучка.svg');
    background-size: 10px;
    border: 1px solid #fff;
    grid-area: buttonEdit;
  }

  .profile__button_act_add {
    width: 150px;
    height: 50px;
    background-image: url('../mesto/images/VectorПлюс.svg');
    background-size: 22px;
    border: 2px solid #fff;
    border-radius: 2px;
    justify-self: flex-end;
    margin-left: auto;
  }

  .button {
    transition: .7s ease;
    padding: 0;
    box-sizing: border-box;
  }

  .button:hover {
    opacity: .6;
    cursor: pointer;
  }

  .elements {
    display: grid;
    padding: 0;
    max-width: 880px;
    grid-template-columns: repeat(3, minmax(218px, 1fr));
    grid-column-gap: 17px;
    grid-row-gap: 20px;
  }

  .element {
    max-width: 282px;
    min-height: 361px;
    border-radius: 10px;
    background-color: #FFFFFF;
    box-sizing: border-box;
    display: grid;
    grid-template-rows: min-content 1fr;
    grid-template-columns: 1fr min-content;
    grid-template-areas:
    'picture picture'
    'title like';
  }

  .element__picture {
    max-width: 100%;
    min-height: 282px;
    border-radius: 10px 10px 0 0;
    grid-area: picture;
  }

  .element__title {
    padding: 0;
    margin: 25px 15px 31px 21px;
    max-width: 195px;
    min-height: 29px;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    text-overflow: ellipsis;
    line-height: 29px;
    color: #000000;
    white-space: nowrap;
    overflow: hidden;
    grid-area: title;
  }

  .element__like {
    background-image: url('../mesto/images/VectorСердце.svg');
    width: 22px;
    height: 19px;
    border: none;
    margin: 31px 30px 30px 0;
    background-color: #fff;
    background-size: contain;
    background-repeat: no-repeat;
    grid-area: like;
    justify-self: end;
  }

  .footer {
    margin: 0 auto;
    padding: 67px 0 60px;
    max-width: 880px;
  }

  .footer__copyright {
    margin: 0;
    color: #545454;
    font-weight: 400;
    font-size: 18px;
    line-height: 21.78px;
    transition: 0.7s ease;
  }

  .popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    transition: visibility 0.3s, opacity 0.3s ease-in;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .popup__container {
    padding: 34px 36px 34px;
    max-width: 430px;
    width: 100%;
    box-sizing: border-box;
    background: #FFFFFF;
    border-radius: 10px;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: stretch;
  }

  .popup__title {
    margin: 0;
    padding-bottom: 54px;
    font-weight: 900;
    line-height: 29px;
    font-size: 24px;
    color: #000000;
  }

  .popup__input {
    padding-bottom: 13px;
    margin: 0 0 29px;
    max-width: 358px;
    width: 100%;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    outline: none;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    color: #000000;
  }

  .popup__button {
    border: none;
  }

  .popup__button_act_submit {
    padding: 14px 125px;
    margin-top: 47px;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
    background: #000;
    border-radius: 2px;
    box-shadow: none;
    border: none;
    cursor: pointer;
  }

  .popup__button_act_exit {
    font-weight: 400;
    position: absolute;
    right: -32px;
    top: -32px;
    background-image: url('../mesto/images/Close.svg');
    font-size: 0;
    box-shadow: none;
    color: white;
    cursor: pointer;
    border: none;
    max-width: 32px;
    width: 100%;
    min-height: 32px;
    background-color: rgba(0, 0, 0, 0);
    transition: 0.2s ease;
    background-repeat: no-repeat;
  }

  .popup__opened {
    display: flex;
  }